@font-face {
  font-family: 'search';
  src: url('../fonts/search.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	/*font-family: agencyfb;*/
}

body {
	width: 100%;
	background-color: #EEE;
}

#page-content {
	width: 80%;
}

#page-content input {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	color: black;
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	color: white;
}

a:focus {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: black;
}

.content {
	padding-left: 20px;
	padding-right: 20px;
}

.block_home {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-transform: capitalize;
}

.block_home h1 {
	font-size: 90px;
	text-shadow: 0 0 20px #000;
	text-align: center;
	font-weight: normal;
}

.title_home {
	display:inline-block;
	vertical-align:middle;
}

.navbar-brand {
	padding: 8px;
}

.about {
	margin-top: 30px;
	background: none;
	border: 2px solid #fff;
	border-radius: 10px 10px 10px 10px;
	min-width: 235px;
	line-height: 56px;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: middle;
	outline: medium none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease 0;
	-moz-transition: all .3s ease 0;
	-o-transition: all .3s ease 0;
	transition: all .3s ease 0;
}

.about:hover {
	color: black;
	background-color: white;
}

.about h3 {
	margin-top: 10px;
}

.btn-primary {
	color: #fff;
	background-color: #444;
	border-color: #666;
}

.btn-primary:hover {
	color: #fff;
	background-color: #333;
	border-color: #666;
}


.icon-search {
 	font-family: search;
}


body {
	background-color: #EEE;
}

.form-register {
	width: 50%;
	padding-top: 30px;
}

@media (max-width: 767px) {
	.block_home h1 {
		font-size: 50px;
	}
	.form-register {
		width: 80%;
	}
}

/* Helper */

.vcenter {
	display: flex;
	justify-content: center;
}

.inner {
	align-self: center;
}

.center {
	margin: 0 auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.block {
	padding-bottom: 20px;
	padding-top: 20px;
	height: auto;
}

.border {
	border: 1px solid black;
	padding: 5px;
}





/*BOOTSTRAP*/




.container {
	background-color: #FFB347;
}

.navbar-fixed-top {
	background-color: #FFB347;
}

.navbar a {
	color: white !important;
}

#slide-nav .navbar-toggle > .icon-bar {
	background-color: white;
}

.navbar {
	/*box-shadow: 0px 2px 5px #CCC;*/
	border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #EEA236;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #EEA236 !important;
	border-bottom: #EEA236 !important;
}

/* adjust body when menu is open */
body.slide-active {
	overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
	margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
	position: relative;
	padding-top: 70px;
	left: 0;
}

#page-content.slide-active {
	/*padding-top: 0;*/
}

.navbar.navbar-fixed-top.slide-active {
    position: fixed !important;
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
	cursor: pointer;
	position: relative;
	line-height: 0;
	float: left;
	margin: 0;
	width: 30px;
	height: 40px;
	padding: 10px 0 0 0;
	border: 0;
	background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
	width: 100%;
	display: block;
	height: 3px;
	margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
	background: white;
}
.navbar-header {
	position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
	position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
		margin: 0!important;
		padding: 0!important;
		height:100%;
	}
	#slide-nav .navbar-header {
		margin: 0 auto;
		padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
		position: absolute;
		width: 80%;
		top: -1px;
		z-index: 1000;
	}
	#slide-nav #slidemenu {
		background: #FFB347;
		left: -100%;
		width: 80%;
		min-width: 0;
		position: absolute;
		padding-left: 0;
		z-index: 2;
		top: -8px;
		margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
		min-width: 0;
		width: 100%;
		margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		min-width: 0;
		width: 80%;
		white-space: normal;
	}
	#slide-nav {
		border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
		background: #FFB347
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
		position: fixed;
		top: 0;
		height: 100%;
		bottom:0;
		width: 80%;
		left: -80%;
		background: #FFB347;
	}
	#navbar-height-col.inverse {
		background: #FFB347;
		z-index: 1;
		border: 0;
	}
	#slide-nav .navbar-form {
		width: 100%;
		margin: 8px 0;
		text-align: center;
		overflow: hidden;
		/*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
		text-align: center
	}
	#slide-nav .navbar-form .btn {
		width: 100%
	}
}
@media (min-width:768px) { 
	#page-content {
		left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
		position: fixed
	}
	.navbar-header {
		left: 0!important
	}
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
	}
	#navbar-height-col.inverse, .navbar-inverse .navbar-collapse, #slide-nav.navbar-inverse #slidemenu {
		border-right: 1px solid black;
	}
}
